<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/meta'); %>
  </head>
  <body>
    
    <%- include("./components/nav2"); %>
    <div id="courseView">
      <main>
        <header>
          <a id="back" href="">back</a>
          <div>
            <img src="<%= data.url %>" alt="" />
            <h1><%= data.name %></h1>
          </header>
          <section class="text">
            <p><%= data.description %></p>
          </section>
          <section class="info">
            <div>
              <img src="/svgs/duration.svg" alt="">
              <h3>Duration</h3>
              <span> <%= data.duration %> </span>
            </div>
            <div>
              <img src="/svgs/level.svg" alt="">
              <h3>Level</h3>
              <span> <%= data.level %> Beginner</span>
            </div>
            <div>
              <img src="/svgs/platform.svg" alt="">
              <h3>Platform</h3>
              <span> <%= data.platform %> Classroom </span>
            </div>
          </section>
          <section class="modules text">
            <% for (let i=0; i< data.modules.length; i++){ %>
              <div>
                <p class="bold"> <span style="font-weight: bold;">Module</span> <%= i+1 %> : <%= data.modules[i].title %> </p>
                <ul>
                  <% for (let j=0; j< data.modules[i].list.length; j++){ %>
                    <li> <%= data.modules[i].list[j] %> </li>

                    <% } %>
                </ul>
              </div>
              <% } %>
              
          </section>
             
        </main>
        <div class="cta">
          <a href="" class="one">
            <span>Download Brochure</span> 
            <svg
            viewBox="0 0 76 88"
            fill="none"
            class="arrow"
            xmlns="http://www.w3.org/2000/svg"
          >
          <g >
            <path
            d="M0.51958 1.75807L74.1295 44.0024L0.739832 86.6283L0.664203 57.4845L22.3139 44.4936L23.0508 44.0515L22.3022 43.6294L0.596487 31.3901L0.51958 1.75807Z"
            
            
            />
          </g>
            </svg>
          </a>
          <a href="" class="two">
            <span>

              Enquire
            </span>
             <svg
            viewBox="0 0 76 88"
            fill="none"
            class="arrow"
            xmlns="http://www.w3.org/2000/svg"
          >
          <g >
            <path
            d="M0.51958 1.75807L74.1295 44.0024L0.739832 86.6283L0.664203 57.4845L22.3139 44.4936L23.0508 44.0515L22.3022 43.6294L0.596487 31.3901L0.51958 1.75807Z"
            
            
            />
          </g>
            </svg>
          </a>
        </div>
      </div>
    <%- include("./components/enquiries"); %>
    <%- include("./components/footer"); %>
    <%- include("./components/copyright"); %>

    <script>
      let back = document.getElementById("back");
      back.addEventListener("click", () => {
        history.back();
      });
    </script>
  </body>
</html>
