<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('./components/meta'); %>
  </head>
  <body onload="load()">
    <%- include("./components/nav"); %>
    <%- include("./components/hero"); %>
    <%- include("./components/section1"); %>
    <%- include("./components/section2"); %>
    <%- include("./components/section3"); %>
    <%- include("./components/section4"); %>
    <%- include("./components/enquiries"); %>
    <%- include("./components/footer"); %>
    <%- include("./components/copyright"); %>
    <script src="/js/index.js"></script>
    <script src="/js/navigation.js"></script>
  </body>
</html>
